@media (max-width: 1024px) 
{
    .bar {
        display: none;
    }
    #check:checked ~ .mobile-nav {
        transform: translateX(0);
    }
    .mobile-nav ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: start;
    }
    .home{
        background-image: url(/mobile-banner.webp);
        background-size: cover;
    }
    .main h1{
        font-size: 32px;
    }
    .main h3{
        font-size: 18px;
        color: grey;
    }
    .choose h1{
        font-size: 40px;
    }
    .choose h2{
        font-size: 18px;
        color: grey;
    }
    .squares{
       flex-direction: column;
       height: max-content;
    }
    .learn{
        display: inline-block;
        background-size: cover;
    }
    }
    

